[submodule "backend"]
	path = backend
	url = git@github.com:skoleapp/skole-backend.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:skoleapp/skole-frontend.git
[submodule "infra"]
	path = infra
	url = git@github.com:skoleapp/skole-infra.git
[submodule "native"]
	path = native
	url = git@github.com:skoleapp/skole-native.git
[submodule "scripts"]
	path = scripts
	url = git@github.com:skoleapp/skole-scripts.git
